@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fredoka&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Fredoka, sans-serif;
    font-weight: 400;
    color: #241d1d;
  }

  h1 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 280%;
    letter-spacing: 0.1em;
  }

  #navbar {
    padding: 30px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    font-weight: 700;
  }